<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About page</title>



</head>
<body>
<ul>
    <li><a href="{{link1}}">Currency</a></li>
    <li><a href="{{link1}}">Welcome</a></li>

</ul>
<h1>Home</h1>




</body>
{{> footer}}
</html>